<nav>
    {{#next_post}}
        <a href="{{url}}">
            {{#if image}}
                <img src="{{image}}">
            {{/if}}

            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </a>
    {{/next_post}}

    {{#prev_post}}
        <a href="{{url}}">
            {{#if image}}
                <img src="{{image}}">
            {{/if}}

            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </a>
    {{/prev_post}}
</nav>