{{!< default}}

{{#author}}
    <header>
        {{#if image}}
            <img src="{{image}}">
        {{/if}}

        <nav>
            {{#if @blog.logo}}
                <a href="{{@blog.url}}">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                </a>
            {{/if}}
        </nav>
    </header>

    <section>
        {{#if image}}
            <figure>
                <a href="{{url}}">
                    <img src="{{image}}" alt="{{name}}">
                </a>
                <figcaption>{{name}}'s Picture</figcaption>
            </figure>
        {{/if}}

        <h1>{{name}}</h1>

        {{#if bio}}
            <h2>{{bio}}</h2>
        {{/if}}

        <div>
            {{#if location}} <span>{{location}}</span> {{/if}}
            {{#if website}} <a href="{{website}}">{{website}}</a> {{/if}}
            <span>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

<main role="main">
    {{#foreach posts}}
        <article class="{{post_class}}">
            <header>
                <h2><a href="{{url}}">{{{title}}}</a></h2>
            </header>

            <section>
                <p>{{excerpt words="26"}} <a href="{{url}}">&raquo;</a></p>
            </section>

            <footer>
                {{#if author.image}}<img src="{{author.image}}" alt="{{author.name}}">{{/if}}
                {{author}}
                {{tags prefix=" on "}}
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </footer>
        </article>
    {{/foreach}}

    {{pagination}}
</main>
