{{!< default}}

{{#post}}
    {{> post-header}}

    <main role="main">
        <article class="{{post_class}}">

            <header>
                <h1>{{title}}</h1>
                <section>
                    <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    {{tags prefix=" on "}}
                </section>
            </header>

            <section>
                {{content}}
            </section>

            <footer>
                {{#author}}
                    {{#if image}}
                        <figure>
                            <a href="{{url}}">
                                <img src="{{image}}" alt="{{name}}">
                            </a>

                            <figcaption>{{name}}'s Picture</figcaption>
                        </figure>
                    {{/if}}

                    <section>
                        <h4><a href="{{url}}">{{name}}</a></h4>

                        {{#if bio}}
                            <p>{{bio}}</p>
                        {{else}}
                            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                        {{/if}}

                        <div>
                            {{#if location}}<span>{{location}}</span>{{/if}}
                            {{#if website}}<a href="{{website}}">{{website}}</a>{{/if}}
                        </div>
                    </section>
                {{/author}}
            </footer>
        </article>
    </main>

    {{> post-na}}
{{/post}}
